body{
    background-image: url('../bg3.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-color: #4CAF50;*/
}

hr{
    background-color: white;
    width: 100%;
    height: 5px;
    text-align: center;
}
html{
    font-size: 1rem;
}


#mySidebar{
    display: none;
}
#side-bar-open{
    display: none;
}
#logout{
    position: absolute;
    right:0;
    top:0;
}
@media (min-width: 601px) {
    hr{
        width: 30%;
    }   
    #mySidebar{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        bottom:0;
        background-image: url('../bg4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #side-bar-open{
        display: block;
    }
    .anchor{
        line-break: loose;
    }
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
}
@media (min-width: 601px) {  
    html{font-size: 1.2rem;}
  }

@media (min-width: 601px) {
    img{
        display: none;
    }
    .container-fluid{
        display: none;
    }
    li {
        
        font-family: sans-serif;
        background-color: white;
        /*border: 2px solid black;*/
        letter-spacing: 0.1em;
        width: 95%;
        height: 1.5em;
        line-height: 1.5em;
        position: relative;
        overflow: hidden;
        margin: 0.5em;
        cursor: pointer;
    }
    
    li span {
        color: white;
        mix-blend-mode: difference;
    }
    
    li::before {
        content: '';
        position: absolute;
        width: 1.5em;
        height: inherit;
        background-color: black;
        border-radius: 50%;
        top: 0;
        left: -0.75em;
        transition: 2s ease-in;
        transition: .6s ease-out;
    }
    
    li:hover::before {
        transform: scale(100);
    }
    
}
#info{
    display: none;
}

@media (min-width: 601px){
    #info{
        display: block;
    }
    #form{
        position: absolute;
        background-color: aqua;
        top: 0;
        bottom: 0;
        left: 40%;
    }
    #disapper{
        position: absolute;
        top: 0;
        right: 0;
    }
    #password{
        padding: 5px;
    }
}