body{
    margin: 0;
    /* background-image: url("../background.jpg"); */
}
.header{
    width: 450px; height: 100px;
    color: rgb(253, 253, 253);
    margin-left: 540px; margin-top: 0px;
    text-align: center;
}
hr{
    border: 1px solid #ffffff;
    margin-bottom: 25px;
    width: 50%;
}  
#stream{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

h1{
    color: black;
    font-size: 46px;
    font-weight: bolder;
    text-align: center;
}
#back{
    color: green;
    font-size: small;
    font-weight: bold;
}
