body{
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-color: #4CAF50;*/
}


.labels{
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-weight: bold;
}


.inputexts{
    width: 60px;
    padding: 10px;
    margin: 25px 0 25px 0;
    display: inline-block;
    border: none;
    background: #ffffff;
    font-size: medium;
}
.radio1{
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-sizing: border-box;
}

#back{
    color: green;
    font-size: large;
    font-weight: bold;
    
}
.button-group, .play-area {
    border: 1px solid grey;
    padding: 1em 1%;
    margin-bottom: 1em;
  }
  
.button {
    padding: 0.5em;
    margin-right: 1em;
}

.play-area-sub {
        width: 47%;
        padding: 1em 1%;
        display: inline-block;
        text-align: center;
}

#capture {
    display: none;
}

#img {
    vertical-align: middle;
    
    width: 100%;
    border-style: none;
/* margin-top: 43vh; */
}
#form{
    position: relative;
}
#lock-modal {
    display: none;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
}
  

#loading-circle {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 0.6s ease-in infinite;
}

#copyright{
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    font-size: 14px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

@media (min-width: 601px){
    #name{
        width: 60%;
    }

    #ID{
        width: 60%;
    }

    #DOB{
        width: 60%;
    }

}
canvas{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}