<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recognize</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'face-api.min.js'%}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        {% comment %} body {
          margin: 0;
          padding: 0;
          width: 100vw;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center; 
        }
        #video{
          height: auto;
          max-width: 100%;
        }
        canvas {
          position: absolute;
        }
        #nav{
          position: absolute;
          top: 0;
          width: 100%;
          text-align: center;
          z-index: 100;
        }
        #backButton{
          position: absolute;
          left: 0;
        } {% endcomment %}
    
</head>
<body>
    <div id='bdevice'>
        <div id='nav'>
            <a href='/'><button id='backButton' class='btn btn-active btn-sm-lg bg-danger text-light'>go back</button></a>
            <p class='h2 text-dark'> Recognition  </p>
        </div>
        <video id="video" autoplay muted></video>
        <canvas id="capture" width="240" height="240"></canvas>
        <div id="snapshot" class='text-center' style="display: none">
              
        </div>
    </div>
    <div id='sdevice'>
        <a href='/'>
            <button class='btn btn-active btn-sm-ls bg-danger text-light'>
                go bock
            </button>
        </a>
        <p class='text-danger h1'> you can not recognise from here. Please use a desktop. </p>
    </div>
    
<script>
    //SamiraN@12s
    const video = document.getElementById("video"); // video tag's variable.

    const snapshot = document.getElementById("snapshot"); // triger the snaphshot div
    const capture = document.getElementById("capture"); // canvas  for capturing photo.
    const height = window.innerHeight;
    const width = window.innerWidth;
    video.height = height;
    video.width = width;  
    const startStream = true;
    //let predictedAges = [];
    if(width > 600){

    Promise.all([
        //faceapi.nets.mtcnn.loadFromUri("/static/models"),
        faceapi.nets.tinyFaceDetector.loadFromUri("/static/models"),
        faceapi.nets.faceRecognitionNet.loadFromUri("/static/models"),
        
        //faceapi.nets.faceLandmark68Net.loadFromUri("/static/models"),
        //faceapi.nets.faceExpressionNet.loadFromUri("/static/models"),
        //faceapi.nets.ageGenderNet.loadFromUri("/static/models")
    ]).then(startVideo);
    }else{
        document.getElementById('bdevice').style.display = 'none';

    }
    
    var constraints = { audio: false, video: { width: width, height: height } }; 
    function startVideo(){
        navigator.mediaDevices.getUserMedia(constraints)
        .then(function(mediaStream) {
            var video = document.querySelector('video');
            video.srcObject = mediaStream;
            video.onloadedmetadata = function(e) {
              video.play();
            };
        })
        .catch(function(err) { console.log(err.name + ": " + err.message); });
    }

    function dataURItoBlob( dataURI ) {
        var byteString = atob( dataURI.split( ',' )[ 1 ] );
        var mimeString = dataURI.split( ',' )[ 0 ].split( ':' )[ 1 ].split( ';' )[ 0 ];

        var buffer	= new ArrayBuffer( byteString.length );
        var data	= new DataView( buffer );

        for( var i = 0; i < byteString.length; i++ ) {

          data.setUint8( i, byteString.charCodeAt( i ) );
        }

        return new Blob( [ buffer ], { type: mimeString } );
    }


    function captureSnapshot() {
        var ctx = capture.getContext( '2d' );
        var img = new Image();
        img.id = 'img';
        ctx.drawImage( video, 0, 0, capture.width, capture.height );

        img.src		= capture.toDataURL( "image/png" );
        img.width	= 240;
        snapshot.innerHTML = '';
        snapshot.appendChild( img );
        return
      
    }

    video.addEventListener("playing", () => {
        const canvas = faceapi.createCanvasFromMedia(video);
        document.body.append(canvas);

        const displaySize = { width: video.width, height: video.height };
        //const displaySize = { width: width, height: height };
        faceapi.matchDimensions(canvas, displaySize);

        setInterval(async () => {
            const detections = await faceapi
              .detectAllFaces(video, new faceapi.TinyFaceDetectorOptions())
              
            const resizedDetections = faceapi.resizeResults(detections, displaySize);

            canvas.getContext("2d").clearRect(0, 0, canvas.width, canvas.height);
            const byte_image = captureSnapshot()
            const dataURI	= snapshot.firstChild.getAttribute( "src" );
            const blob_image = dataURItoBlob(dataURI);
            console.log(blob_image);
            // face detection and face landmark 
            faceapi.draw.drawDetections(canvas, resizedDetections);
            
            var form = new FormData();
            form.append("images", blob_image, 'myimage.jpg');

            let xml = new XMLHttpRequest();
            xml.open( "POST", "{% url 'recognizing_image' %}", true )
            xml.onload = function(){
              if (xml.status === 200){
                let data=JSON.parse(xml.responseText);
                localStorage.setItem('names', JSON.stringify(data));
              }
            }
            if( resizedDetections.length !== 0 ){
              xml.send( form );
            }
            else{
              deleteName()
            }
            //faceapi.draw.value('samiran');
            let data_name= '';
            if(localStorage.getItem('names') !== undefined){
              //localStorage.getItem('names');
            let data_names = JSON.parse(localStorage.getItem('names'));
            data_name = data_names;
            }
            data_name.forEach((bestMatch, i) => {
                if(resizedDetections[i].box !== undefined){
                    const box = resizedDetections[i].box
                    const text = bestMatch.toString()
                    const drawBox = new faceapi.draw.DrawBox(box, { label: text })
                    drawBox.draw(canvas)
                    }
                }
            )
        }, 2000);
    });

  
    function get_response(image){
      const response='';
      var form = new FormData();
      form.append("images", image);
      fetch('{% url "recognizing_image" %}', {
      method: 'PUT',
      body: form
      })
      .then((response) => response.json())
      .then((result) => {
        response=result.data;
        console.log(response);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
      
    } 
    {% comment %} 
    function get_response(image) {
      return new Promise(function(resolve, reject) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function() {
          resolve(this.responseText);
        };
        xhr.onerror = reject;
        xhr.open('GET', url);
        xhr.send();
      });
    }
    {% endcomment %}
    {% comment %} 
    ajax("/echo/json")
      .then(function(result) {
        // Code depending on result
      })
      .catch(function() {
        // An error occurred
      }); {% endcomment %}
    // for zoom in and zoom out.
    {% comment %} navigator.mediaDevices.getUserMedia({video: true})
    .then(async mediaStream => {
      document.querySelector('video').srcObject = mediaStream;

      // Once crbug.com/711524 is fixed, we won't need to wait anymore. This is
      // currently needed because capabilities can only be retrieved after the
      // device starts streaming. This happens after and asynchronously w.r.t.
      // getUserMedia() returns.
      await sleep(1000);

      const track = mediaStream.getVideoTracks()[0];
      const capabilities = track.getCapabilities();
      const settings = track.getSettings();

      const input = document.querySelector('input[type="range"]');

      // Check whether zoom is supported or not.
      if (!('zoom' in capabilities)) {
        return Promise.reject('Zoom is not supported by ' + track.label);
      }

      // Map zoom to a slider element.
      input.min = capabilities.zoom.min;
      input.max = capabilities.zoom.max;
      input.step = capabilities.zoom.step;
      input.value = settings.zoom;
      input.oninput = function(event) {
        track.applyConstraints({advanced: [ {zoom: event.target.value} ]});
      }
      input.hidden = false;
    })
    .catch(error => ChromeSamples.log('Argh!', error.name || error));

    /* Utils */

    function sleep(ms = 0) {
      return new Promise(r => setTimeout(r, ms));
    } {% endcomment %}

    function deleteName() {
        localStorage.removeItem("names");
    }
    deleteName()
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
